.login-demo {
    height: calc(100vh - 35px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;

    .login-panel {
        width: 30%;
        height: 100%;
        text-align: center;
        padding: 40px 20px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex: 1 1 100%;

        > input {
            width: 85%;
            max-width: 247px;
            margin-bottom: 10px;
            background-color: #f6f7f7;
            border: 1.2px solid #d4d6d9;
            color: #515c66;
            padding: 12px 10px;
        }

        .p-password {
            width: 85%;
            max-width: 247px;
            margin-bottom: 10px;
            background-color: #f6f7f7;
            color: #515c66;
        }
    }

    .p-password > input {
        width: 100%;
        max-width: 247px;
        background-color: #f6f7f7;
        color: #515c66;
        padding: 12px 10px;
    }

    .login-panel > button {
        width: 85%;
        max-width: 247px;

        > span {
            padding: 5px 20px;
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }
    }
}
